.green{
    background-color: #2A9D8F
}
.dark-green{
    background-color: #1B645C
}
.light-green{
    background-color: rgb(90, 138, 132)
}
.font-color{
    color: #192D35
}
body{
    font-family: 'Roboto',
    sans-serif;
}
.default-btn{
    padding: 4%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.default-btn:hover{
    background: #192D35;
    color: white;
}




.home-jumbo{
    background-image: url('https://static01.nyt.com/images/2018/03/01/dining/01COOKING-CHICKEN-CURRY1/01COOKING-CHICKEN-CURRY1-threeByTwoMediumAt2X.jpg');
    height: 100px;
    padding: 15%;
    color: aliceblue;
    text-align: center;
    background-repeat: no-repeat;
}
.recipe-card{
    margin: 1%;
}
.user-form{
    margin: 30%;
    margin-top: 10%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.user-form-input{
    font-family: 'Gill Sans';
    font-size: 16px;
}
.user-form-input:active{
    background-color: #1B645C;
}